{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete the following post?</p>
        <div>
            <input type="submit" value="Confirm Deletion">
            <a href="{% url 'product_detail' product.id %}">No, Return</a>
        </div>
    </form>
    <div class="text-right">
        <a class="btn btn-outline-black rounded-0" href="{% url 'product_detail' product.id %}">Cancel</a>
    </div>
</div>

{% endblock %}